{{ define "main" }}
{{ $page := .Site.GetPage "/fitus" }}
<section class="section">
  <div class="container">
	<div class="row justify-content-between">
		<div class="col-md-8 col-sm-12 mb-5 ">
	<h2 class="mb-4">{{ .Title | markdownify }}</h2>
  <div class="accordion" id="accordionExample">
  {{ range first 1 .Site.Data.fitus.fitus.fitus }}
  <div class="card p-3" >
    <div class="card-head" id="heading{{ replaceRE "(/images/|.jpg|/uploads/)" "" .image }}">
      <h2 class="mb-0 text-primary" data-toggle="collapse" data-target="#{{ replaceRE "(/images/|.jpg|/uploads/)" "" .image }}" aria-expanded="true" aria-controls="collapseOne">
          {{ .title | markdownify }}
      </h2>
    </div>

    <div id="{{ replaceRE "(/images/|.jpg|/uploads/)" "" .image }}" class="collapse show" aria-labelledby="heading{{ replaceRE "(/images/|.jpg|/uploads/)" "" .image }}" data-parent="#accordionExample">
      <div class="card-body">
	  <div class="row">
	  <div class="col-md-3 col-sm-12">
		{{ $title := .title }}
        {{ with .image }}
        {{ $file := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
        {{ with $file }}
        {{ $original := $file }}
        {{ $scratch := newScratch }}
        {{ if lt $original.Width 150 }}
        <img src="{{ $original.RelPermalink }}" width ="{{ $original.Width }}px" class="rounded z-depth-1" alt="{{ $title }}">
        {{ else }}
        {{ $scratch.Set "image" ($original.Resize "150x") }}
        {{ $image := $scratch.Get "image" }}
        <img src="{{ $image.RelPermalink }}" class="rounded z-depth-1" alt="{{ $title }}">
        {{ end }}
        {{ end }}
        {{ end }}
	  </div>
	  <div class="col-md-9 col-sm-12">
        <div class="content">{{ .texto | markdownify }}</div>
		</div>
		</div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ range after 1 .Site.Data.fitus.fitus.fitus }}
  <div class="card p-3" >
    <div class="card-head" id="heading{{ replaceRE "(/images/|.jpg|/uploads/)" "" .image }}">
      <h2 class="mb-0 collapsed text-primary" data-toggle="collapse" data-target="#{{ replaceRE "(/images/|.jpg|/uploads/)" "" .image }}" aria-expanded="false" aria-controls="{{ replaceRE "(\\s)" "" .title }}">
          {{ .title | markdownify }}
      </h2>
    </div>
    <div id="{{ replaceRE "(/images/|.jpg|/uploads/)" "" .image }}" class="collapse" aria-labelledby="heading{{ replaceRE "(/images/|.jpg|/uploads/)" "" .image }}" data-parent="#accordionExample">
      <div class="card-body">
         <div class="row">
	  <div class="col-md-3 col-sm-12">
		{{ $title := .title }}
        {{ with .image }}
        {{ $file := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
        {{ with $file }}
        {{ $original := $file }}
        {{ $scratch := newScratch }}
		{{ $scratch2 := newScratch }}
        {{ if lt $original.Width 150 }}
        <img src="{{ $original.RelPermalink }}" width ="{{ $original.Width }}px" class="rounded z-depth-1" alt="{{ $title }}">
        {{ else }}
        {{ $scratch.Set "image" ($original.Resize "150x") }}
		{{ $scratch2.Set "image" ($original.Resize "1200x") }}
        {{ $image := $scratch.Get "image" }}
		{{ $image2 := $scratch.Get "image" }}
        <a href ="{{ $image2.RelPermalink }}"><img src="{{ $image.RelPermalink }}" class="rounded z-depth-1" alt="{{ $title }}"></a>
        {{ end }}
        {{ end }}
        {{ end }}
	  </div>
	  <div class="col-md-9 col-sm-12">
        <div class="content">{{ .texto | markdownify }}</div>
		</div>
		</div>
      </div>
    </div>
  </div>
  {{ end }}

</div>
</div>
</div>
</div>

</section>

{{ end }}