// Color Variables
$primary-color: #E8505B;
$secondary-color: #9AC4F8;
$text-color: #ccc;
$text-color-dark: #FFFFd9;
$body-color: #18191A;
$border-color: #345beb;
$black: #18191A;
$white: #18191A;
$light: #F8F8F8;

// Font Variables
$primary-font: 'Muli', sans-serif;
$icon-font: 'themify';