// Color Variables
$primary-color: #e54140;
$secondary-color: #9AC4F8;
$text-color: #ccc;
$text-color-dark: #FFFFd9;
$body-color: #0C1023;
$border-color: #345beb;
$black: #121212;
$white: #121212;
$light: #333;

// Font Variables
$primary-font: 'Muli', sans-serif;
$icon-font: 'themify';