{{ define "main" }}

<!-- banner -->

 <div class="container-fluid px-0">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner bg-info" role="listbox">
		{{ range first 1 .Site.Params.homepageimage }}
            <div class="carousel-item active">
                <div class="d-flex align-items-center justify-content-center min-vh-100">
                    <img src="{{ .url }}" width="100%">
                </div>
            </div>
			{{ end }}
			{{ range after 1 .Site.Params.homepageimage }}
            <div class="carousel-item">
                <div class="d-flex align-items-center justify-content-center min-vh-100">
                    <img src="{{ .url }}" width="100%">
                </div>
            </div>
			{{ end }}
           
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!-- /banner -->



<!-- cta -->
{{ if .Site.Params.cta.enable }}
<section class="section pt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="row card-cta rounded p-3">
          <div class="col-md-4 text-center text-md-left mb-4 mb-lg-0">
            <img src="{{ .Site.Params.cta.image | relURL }}" class="mr-4" alt="..."></div>
          <div class="col-md-8 text-center text-md-left">
            <h3 class="mt-0">{{ .Site.Params.cta.title | markdownify }}</h3>
            <p>{{ .Site.Params.cta.description | markdownify }}</p>
            {{ if .Site.Params.cta.button.enable }}
            <a href="{{ .Site.Params.cta.button.link | absURL }}"
              class="btn btn-primary">{{ .Site.Params.cta.button.label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /cta -->

{{ end }}