{{ define "main" }}

{{ $page := .Site.GetPage "/elementos" }}
<section class="section">
  <div class="container">
	 <div class="row justify-content-between">
	 <div class="col-12">
	<h2 class="mb-4">{{ .Title | markdownify }}</h2>
	<div class="accordion" id="accordionExample">
  {{ range first 1 .Site.Data.elementos.elementos.elementos }}
  <div class="card p-3">
    <div class="card-head" id="heading{{ .title }}">
      <h2 class="mb-0 text-primary" data-toggle="collapse" data-target="#{{ .title }}" aria-expanded="true" aria-controls="collapseOne">
          {{ .title | markdownify }}
      </h2>
    </div>

    <div id="{{ .title }}" class="collapse show" aria-labelledby="heading{{ .title }}" data-parent="#accordionExample">

	  <div class="card-body">
	  <div class="row">
	  {{ range sort .elemento "alcunha" "asc"}}
	  <div class="col-md-6 col-sm-12 mb-3">
			  <div class="row">
			  <div class="col-3">
      <div class="avatar mb-md-0 mb-4 mx-4">
        {{ $name := .nome }}
        {{ with .image }}
        {{ $file := $page.Resources.GetMatch . }}
        {{ with $file }}
        {{ $original := $file }}
        {{ $scratch := newScratch }}
        {{ if lt $original.Width 75 }}
        <img src="{{ $original.RelPermalink }}" width ="{{ $original.Width }}px" class="rounded z-depth-1" alt="{{ $name }}">
        {{ else }}
        {{ $scratch.Set "image" ($original.Resize "75x") }}
        {{ $image := $scratch.Get "image" }}
        <img src="{{ $image.RelPermalink }}" width ="75px" class="rounded z-depth-1" alt="{{ $name }}">
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
	  </div>
	  <div class="col-9">
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">{{ .alcunha | markdownify }}</h4>
        <h6 class="font-weight-bold grey-text mb-3">{{ .nome | markdownify }}</h6>
        <h6 class="grey-text">🎸 {{ .instrumento | markdownify }}</h6>
		<h6 class="grey-text">🎓 {{ .curso | markdownify }}</h6>
        <!-- Facebook-->
      </div>
	  </div>
	  </div>
    </div>


              {{ end }}
      </div>
	  </div>
	  </div>
	  </div>
  {{ end }}
  {{ range after 1 .Site.Data.elementos.elementos.elementos }}
  <div class="card p-3">
    <div class="card-head" id="heading{{ replaceRE "(ç|ã|ª|\\s)" "" .title }}">
      <h2 class="mb-0 text-primary" data-toggle="collapse" data-target="#{{ replaceRE "(ç|ã|ª|\\s)" "" .title }}" aria-expanded="true" aria-controls="collapseOne">
          {{ .title | markdownify }}
      </h2>
    </div>

    <div id="{{ replaceRE "(ç|ã|ª|\\s)" "" .title }}" class="collapse" aria-labelledby="heading{{ replaceRE "(ç|ã|ª|\\s)" "" .title }}" data-parent="#accordionExample">

	  <div class="card-body">
	  <div class="row">
	  {{ range sort .elemento "alcunha" "asc"}}
              <div class="col-md-6 col-sm-12 mb-3">
			  <div class="row">
			  <div class="col-3">
      <div class="avatar mb-md-0 mb-4 mx-4">
        {{ $name := .nome }}
        {{ with .image }}
        {{ $file := $page.Resources.GetMatch . }}
        {{ with $file }}
        {{ $original := $file }}
        {{ $scratch := newScratch }}
        {{ if lt $original.Width 75 }}
        <img src="{{ $original.RelPermalink }}" width ="{{ $original.Width }}px" class="rounded z-depth-1" alt="{{ $name }}">
        {{ else }}
        {{ $scratch.Set "image" ($original.Resize "75x") }}
        {{ $image := $scratch.Get "image" }}
        <img src="{{ $image.RelPermalink }}" width ="75px" class="rounded z-depth-1" alt="{{ $name }}">
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
	  </div>
	  <div class="col-9">
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">{{ .alcunha | markdownify }}</h4>
        <h6 class="font-weight-bold grey-text mb-3">{{ .nome | markdownify }}</h6>
        <h6 class="grey-text">🎸 {{ .instrumento | markdownify }}</h6>
		<h6 class="grey-text">🎓 {{ .curso | markdownify }}</h6>
        <!-- Facebook-->
      </div>
	  </div>
	  </div>
    </div>
              {{ end }}
      </div>
	  </div>
	  </div>
	  </div>
  {{ end }}
</div>
</div>
</div>
</div>
</section>

{{ end }}
